body{
	background-image:url('game7.jpg');
	background-repeat:no-repeat;
	background-position:left-bottom;
	background-size:100% 100%;
}
ul{
	list-style-type:none;
	margin:0; 
	padding:0; 
	overflow:hidden;
	background-color:rgb(128, 9, 0);
	text-align:center;
}
li{
	float:left;
	font-size:20px;
}
li a{
	display:block;
	color:white;
	text-align:center;
	padding:10px 40px;
	text-decoration:none;
}
li a:hover{
	background-color:white;
	color:#5BB2CE
}
h1{
	color: antiquewhite;
	font-size:50px;
	padding-top:5%;
	padding-left:30%;
	font-family:lato;
	text-align: left;
	}
h2
{
	font-size:25px;
	color:white;
	text-align:center;
	margin-top:80px;
	font-family:Lato;
}

.footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:rgb(128, 9, 0);
	color:white;
	text-align:center;
	}