h1 { font-family: 'Rokkitt', serif; 
    color:  rgba(221, 162, 162, 0.877);}
body {
  background-image: url('game7.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.container {
  width: 66px;;
  min-width: 850px;
  top: 20%;
}
.class1 {
  float: center;
  width: 47%;
  margin-right:1%;
  margin-left: auto; 
}

.login {
  border-style: solid;
  border-color: rgba(139, 3, 3, 0.877); 
  border-width:5px;
  border-radius:50px;
  background-color: #444444;
  text-align: center;
  box-shadow: 0 0 20px #000;
}
.login h1 {
  
  font-size: 36px;
  padding: 30px;
  background-color: #d25555;
}

a{
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
  margin-bottom:15px;;
}
#fname,#lname,#password,#cpassword,#email1,#uname{
  margin-bottom: 15px;
  padding: 10px 5px;
  width: 80%;
  background-color: #ccc;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #333;
}
/* button {
  color:  rgba(221, 162, 162, 0.877);
  background-color: #d25555;
  border: none;
  font-family: 'Rokkitt', serif;
  font-size: 5px;
  margin-top: 15px;
  margin-bottom:15px;;
  width: 40%;
}
button:hover {
  background-color: #A64141;
  cursor: pointer;
  color: #f4f4f4;
} */

